body {
  font-family: "Courier New", Courier, monospace;
  color: #fce38a;
  background: #003459;
}

#weather-app {
  border: 3px solid #02c39a;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  max-width: 800px;
  background: #028090;
}

.search-bar {
  margin: 10px;
  padding: 20px;
}

.submit-button {
  border: 1px solid #003459;
  border-radius: 20px;
  background: #003459;
  color: #fce38a;
  padding: 5px 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 100ms ease-in-out;
}
.submit-button:hover {
  background: #028090;
  transition: all 200ms fade-in-out;
  cursor: pointer;
}

#current-location-button {
  display: inline;
  border: 1px solid #003459;
  border-radius: 20px;
  background: #003459;
  color: #fce38a;
  padding: 5px 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 100ms ease-in-out;
}
#current-location-button:hover {
  background: #028090;
  transition: all 200ms fade-in-out;
  cursor: pointer;
}

.middle-content {
  border: 1px solid #fce38a;
  border-radius: 5px;
  margin: 10px 0px 5px 10px;
  padding: 10px;
}

#basic-info {
  padding: 10px;
}

#city {
  font-weight: 600;
}

#date {
  font-size: 20px;
}

#temperature {
  font-size: 40px;
  font-weight: 600;
}

#weather-icon {
  font-size: 75px;
  text-align: center;
  padding: 10px;
}

ul#weather-conditions {
  list-style: none;
  padding: 10px;
  font-size: 18px;
}

#celsius-button {
  display: inline;
  color: #fce38a;
  background: #003459;
  border-radius: 20px;
  border: 1px solid #003459;
  margin: 10px;
  padding: 5px 10px;
  font-size: 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 100ms ease-in-out;
}

#celsius-button:hover {
  background: #028090;
  transition: all 200ms fade;
  cursor: pointer;
}

#fahrenheit-button {
  display: inline;
  color: #fce38a;
  background: #003459;
  border-radius: 20px;
  border: 1px solid #003459;
  margin: 10px;
  padding: 5px 10px;
  font-size: 12px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: all 100ms ease-in-out;
}

#fahrenheit-button:hover {
  background: #028090;
  transition: all 200ms fade;
  cursor: pointer;
}

.forecast {
  border: 1px solid #fce38a;
  border-radius: 5px;
  margin: 10px 0px 5px 10px;
  padding: 10px;
}

footer {
  color: #02c39a;
  font-size: 15px;
}
